<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="row" th:fragment="display">
    <div class="container"><br>
        <h3>Filmes em destaque</h3><br>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ytimg.com/vi/Gndoi6pEiUM/hqdefault.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">+ Detalhes</a>
            </div>
        </div>

    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ytimg.com/vi/vUDocK90UYI/hqdefault.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">+ Detalhes</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ytimg.com/vi/Fii9eJv_8Q0/hqdefault.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">+ Detalhes</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>