<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <br>
    <h3>Projeto Spring boot Top 100 filmes com banco de dados Mysql</h3>
    <article>
        <p>
            Este projeto consiste em um exemplo do livro casa do código sobre Play FrameWork.
            Ao estudar a tecnologia play framework tive dificuldades em implementar o projeto. Desta forma resolvir
            implementa-lo
            usando springboot para ao menos diminuir a frustração de não ter conseguido com Play framework java :).
        </p>
    </article>
</div>

</body>
</html>